/* You can add global styles to this file, and also import other style files */
li>a.active{
    color: red;
}
.employeemenu{
    color: whitesmoke !important;
    opacity: 2.5;
}
.navbar-brand{
    margin-left: 100px !important;
}
@media (min-width:400px){
    navbar-brand{
        margin-left: 0px !important; 
    }}
    @media (min-width:700px){
        navbar-brand{
            margin-left: 0px !important; 
        }}