<div class="col-md-6 col-sm-12 offset-2">
  <form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">
    <div class="form-group">
      <input type="text" placeholder="User name" class="form-control" required maxlength="25" [(ngModel)]="userName" name="userName"
        #pickedName="ngModel">
      <div *ngIf="!pickedName.valid && pickedName.touched">
        User name is required!
      </div>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" class="form-control" required [(ngModel)]="password" name="password" #userPassword="ngModel">
      <div *ngIf="!userPassword.valid && userPassword.touched">
        Password is required!
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!newUserForm.form.valid">
        Register
      </button>

      <button type="button" class="btn btn-danger" (click)="newUserForm.reset()">
        Reset
      </button>
    </div>
  </form>
</div>